@import "./tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-body);
}

h1,
h2,
h3,
nav,
button {
  font-family: var(--font-heading);
}
